.container {
  display: flex;
  width: -webkit-fill-available;
  padding: 2rem var(--b-pad);
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: -webkit-fill-available;
  flex-wrap: wrap;
}
@media screen and (max-width: 1020px) {
}
