.container {
  display: flex;
}
.container > a {
  all: unset;
  cursor: pointer;
}
.defectCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.5rem;
  background: var(--black-color);
  border-radius: var(--ft-300);
  align-items: center;
  justify-content: center;
}
.defectCard:hover {
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
.defectCard_imgBox {
  display: flex;
  position: relative;
  padding: 0;
  height: 250px;
}
.defectCard_imgBox > img {
  height: 250px;
  width: 375px;
  border-radius: var(--ft-300);
}
.defectCard_imgBox > img:hover {
  border-radius: 0px;
}
.defectCard_info {
  display: flex;
  gap: 1rem;
  width: -webkit-fill-available;
}
.defectCard_text {
  display: flex;
  flex-direction: column;
}
.defectCard_text > h5 {
  font-size: var(--ft-400);
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 0.4rem;
  line-height: 1.3rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  color: var(--white-color);
  text-transform: capitalize;
}
.viewsAndTime {
  display: flex;
  gap: 0.4em;
  flex-direction: column;
}
.viewsAndTime > p {
  font-size: small;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 0.3em;
  text-transform: capitalize;
}
