/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
body {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: #0000ff;
  --black-color: #000000;
  --white-color: #ffffff;

  --bg-primary: #fff;
  --paragraph: #77798f;

  --b-pad: 4rem;
  --stock: #2a2b3a;

  /* font size */
  --ft-300: 12px;
  --ft-350: 14px;
  --ft-400: 16px;
  --ft-450: 18px;
  --ft-500: 20px;
  --ft-600: 24px;
  --ft-650: 26px;
  --ft-700: 28px;
  --ft-800: 40px;
  --ft-900: 54px;

  --background-color-account: linear-gradient(
    126deg,
    #010314 4.79%,
    #2a2b3a 54.4%
  );
  --border-buttom-color: #4467ff;
  --box-shadow-color: #74f;
}

.spin {
  position: relative;
}
.spin {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 30px;
  width: 30px;
  margin: 0 2rem;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
